<div class="root flex-column">
	<h2>Ingresa tu E-mail para poder proceder a recuperar tu contraseña, se te enviara un enlace de recuperación</h2>

	<div class="container">
		<mat-card class="container__card custom-card flex-column">
			<h4>RECUPERAR</h4>

			<form class="content flex-column" autocomplete="off">
				<mat-form-field appearance="outline">
					<mat-label>E-mail</mat-label>
					<input matInput type="email" />
				</mat-form-field>

				<!-- <mat-form-field appearance="outline">
					<mat-label>Contraseña</mat-label>
					<input matInput type="password" />
				</mat-form-field> -->

				<button mat-raised-button color="primary">ENVIAR</button>

				<div>
					<div class="content__redirect">
						<span>Si ya tienes una cuenta</span>
						<a>ingresa</a>
					</div>

					<div class="content__redirect">
						<span>Si no tienes una cuenta</span>
						<a>regístrate</a>
					</div>
				</div>
			</form>
		</mat-card>
	</div>
</div>
